html {
  background-color: #2a2a2a;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.webName {
  display: flex;
  align-items: center;
}

.webName img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.webName h1 {
  color: white;
}

.githubIcon {
  width: 2.5rem;
  height: 2.5rem;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.githubIcon:hover {
  transform: scale(1.1);
  opacity: 0.85;
}

.data {
  height: 80vh;
  margin: 0 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.RFandPM25 {
  display: flex;
  flex-direction: column;
}

.rainfall,
.pm25,
.shortTermForecast,
.next4 {
  background-color: rgb(65, 62, 62);
  border-radius: 0.5rem;
}

.rainfall,
.pm25 {
  height: 14rem;
  width: 14em;
}

.rainfall {
  margin-bottom: 0.8rem;
}

.forecast {
  display: flex;
  flex-direction: column;
}

.shortTermForecast,
.next4 {
  height: 14rem;
  width: 62rem;
}

.shortTermForecast {
  margin-bottom: 0.8rem;
}

.shortTermOutlook,
.next4-content {
  display: flex;
  justify-content: space-between;
  margin: 0 1.2rem;
}

.next4-content {
  flex-wrap: wrap;
}

.forecast-day,
#two-hour-forecast,
#next-24-hours {
  background-color: white;
  height: 8rem;
  width: 8rem;
}

#next-24-hours {
  width: 50rem; 
}

#rainfall-value,
#pm25-value {
  font-size: 2rem;
  color: white;
}

h2 {
  margin-left: 1.2rem;
}

#two-hour-forecast,
#next-24-hours,
.forecast-day {
  color: black;
}
